{% load static %}
<div class="banner-area padding-30-row-col pb-50 pt-50">
            <div class="custom-container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="banner-wrap threediv mb-30">
                            <div class="row">
                                <div class="col-xl-7 col-lg-4 col-md-6 col-sm-6 col-6">
                                    <div class="banner-content-1">
                                        <span>Doctor</span>
                                        <h2>Book In-Clinic Appointment</h2>
                                        <h3>No Booking Fee</h3>
                                        <div class="btn-style-1">
                                        <a class="font-size-14 btn-1-padding-2" href="/doctors">Book now </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-5 col-lg-4 col-md-6 col-sm-6 col-6 banner-img-zoom">
                                    <a href="/doctors"><img src="{% static 'icons/undraw_doctor_kw5l.svg' %}" alt=""   class="pt-50 pr-10" style="width:85% !important;"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="banner-wrap threediv mb-30">
                            <div class="row">
                                <div class="col-xl-7 col-lg-4 col-md-6 col-sm-12 col-6">
                                    <div class="banner-content-1">
                                <span>hOME Collection</span>
                                <h2>Schedule Lab Tests</h2>
                                <h3>Free Sample Collection</h3>
                                <div class="btn-style-1">
                                    <a class="font-size-14 btn-1-padding-2" href="/tests">Schedule now </a>
                                </div>
                            </div>
                                </div>
                                <div class="col-xl-5 col-lg-4 col-md-6 col-sm-12 col-6 banner-img-zoom ">
                                    <a href="/tests"><img src="{% static 'icons/undraw_location_review_dmxd.svg' %}" alt="" class="pt-50 pr-10" style="width:80% !important;"></a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="banner-wrap threediv mb-30">
                            <div class="row">
                                <div class="col-xl-7 col-lg-4 col-md-6 col-sm-12 col-6">
                                    <div class="banner-content-1">
                                <span>Medicines</span>
                                <h2>Order Medicines</h2>
                                <h3>Free Home Delivery</h3>
                                <div class="btn-style-1">
                                    <a class="font-size-14 btn-1-padding-2" href="/ordermedicines">Order now </a>
                                </div>
                            </div>
                                </div>
                                <div class="col-xl-5 col-lg-4 col-md-6 col-sm-12 col-6 banner-img-zoom">
                                    <a href="/ordermedicines"><img src="{% static 'icons/undraw_On_the_way_re_swjt.svg' %}" alt=""  class="pt-50 pr-10"  ></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>