<div class="col-lg-5 col-md-12">
                        <div class="sidebar-wrapper sidebar-wrapper-ml1">
                            <div class="sidebar-widget sidebar-widget-wrap sidebar-widget-padding-1 mb-20">
                                <h4 class="sidebar-widget-title">Book In-clinic Appointment </h4>
                                 <span style="color:#082d86;"> &#8377; 700.00 </span>
                                            </h4>


                                <div class="product-details-wrap-bottom ">
                                    <div class="tab-style-1 nav mb-35 ">
                                    <a class="active" href="#product-details-1" data-toggle="tab"> Today </a>
                                    <a href="#product-details-2" data-toggle="tab"> Tomorrow </a>
                                    <a href="#product-details-3" data-toggle="tab"> 6 Feb </a>
                                    <a href="#product-details-3" data-toggle="tab"> 7 Feb </a>
                                    </div>
                                <div class="tab-content">
                                    <div id="product-details-1" class="tab-pane active">
                                     <div class="sidebar-tag"><ul><li><a href="#">12:00 AM</a></li><li><a href="#">01:00 AM</a></li><li><a href="#">02:00 AM</a></li><li><a href="#">03:00 AM</a></li></ul></div>
                                    </div>
                                    <div id="product-details-2" class="tab-pane">
                                        <div class="sidebar-tag">
                                        <ul>
                                        <li><a href="#">10:00 AM</a></li>
                                        <li><a href="#">11:00 AM</a></li><li><a href="#">12:00 AM</a></li><li><a href="#">01:00 AM</a></li><li><a href="#">02:00 AM</a></li><li><a href="#">03:00 AM</a></li></ul>
                                    </div></div>
                                    <div id="product-details-3" class="tab-pane">
                                        <div class="sidebar-tag">
                                        <ul>
                                        <li><a href="#">10:00 AM</a></li>
                                        <li><a href="#">11:00 AM</a></li><li><a href="#">12:00 AM</a></li><li><a href="#">01:00 AM</a></li><li><a href="#">02:00 AM</a></li><li><a href="#">03:00 AM</a></li>
                                        <li><a href="#">04:00 AM</a></li><li><a href="#">05:00 AM</a></li></ul>
                                    </div></div>
                                </div>
                                </div><div class="btn-style-1 pt-10">
                                                <a class="font-size-14 btn-1-padding-2" href="/bookdoctor">Book Now</a>
                                            </div>
                                    </div>
                                </div>
                            </div>
