<div class="col-lg-5 col-md-12">
                        <div class="order-summary">
                            <div class="order-summary-title">
                                <h3>Appointment summary</h3>
                            </div>
                            <div class="order-summary-middle">
                                <ul>
                                    <li>Doctor <h4><a href="/doctordetails">Dr. Doctor Name</a></h4>
                                    </li>
                                    <li>Appointment Date/Time <h4> 12:00 PM, 12 Jan'21</h4>
                                    </li>

                                    <li>Appointment Fee <h4>&#8377; 180.00</h4>
                                    </li>
                                    <li>Booking Charges<h4><span>No Fee</span><span class="price"> &#8377; 0.00</span></h4>
                                    </li>
                                </ul>
                            </div>
                            <div class="order-summary-bottom">
                                <h4>Total <span>&#8377; 185.00</span></h4>
                            </div>
                        </div>
                        </div>

