{% load static %}
        <div class="product-area">
            <div class="custom-container">
                <div class="section-title-btn-wrap mb-35">
                    <div class="section-title-1">
                        <h2>Conditions and Treatments</h2>
                    </div>
                    <div class="btn-style-2">
                        <a href="/conditions">View all<i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="product-slider-active-1 nav-style-2 nav-style-2-modify-2 p-0 ">
                    <div class="product-plr-1 mywidth">
                        <div class="single-product-wrap mypad">
                            <div class="product-img-action-wrap mb-10 circleicon">
                                <div class="product-img ">
                                    <a href="#">
                                        <img class="default-img" src="{% static 'images/categorie-5.jpg' %}" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="product-content-wrap text-center">
                                <div class="product-price">
                                    <span>Fever</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-area pt-70 ">
            <div class="custom-container">
                <div class="section-title-btn-wrap mb-35">
                    <div class="section-title-1">
                        <h2>Find experienced doctors across all specialties</h2>
                    </div>
                    <div class="btn-style-2">
                        <a href="/specializations">View all<i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="product-slider-active-1 nav-style-2 nav-style-2-modify-2 p-0 " id="specialization">
                    <div class="product-plr-1 mywidth">
                    <div class="single-product-wrap mypad">
                    <div class="product-img-action-wrap mb-10 circleicon">
                    <div class="product-img ">
                    <a href="'+ order.id +'">
                    <img class="default-img" src="" alt="image"></a>
                    </div>
                    </div>
                    <div class="product-content-wrap text-center">
                    <div class="product-price"><span>'+ order.name +'</span></div>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-area pt-80 pb-30">
            <div class="custom-container">
                <div class="section-title-btn-wrap mb-35">
                    <div class="section-title-1">
                        <h2>Book an appointment for an in-clinic consultation</h2>
                    </div>
                    <div class="btn-style-2">
                        <a href="/doctors">View all doctors<i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <div class="product-slider-active-1 nav-style-2 nav-style-2-modify-2 ">
                    <div class="product-plr-1">
                        <div class="single-product-wrap bg-gray">
                            <div class="product-img-action-wrap mb-10">
                                <div class="product-img product-img-zoom">
                                    <a href="/doctordetails">
                                        <img class="default-img" src="{% static 'images/product/product-8-2.jpg' %}" alt="">
                                    </a>
                                </div>
                                <div class="product-action-1">
                                    <div class="btn-style-1 ml-25 ">
                                                <a class="font-size-14 btn-1-padding-2" href="/bookdoctor">Book Now</a>
                                            </div>
                                </div>

                            </div>
                            <div class="product-content-wrap">
                                <div class="product-category">
                                    <a href="/doctordetails">Surgeon</a>
                                </div>
                                <h2><a href="product-details.html">Name</a></h2>
                                <div class="product-price">
                                    <span>&#8377; 700.00 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
