<div class="col-lg-4">
                        <div class="sidebar-wrapper sidebar-wrapper-mr1">
                            <div class="sidebar-widget sidebar-widget-wrap sidebar-widget-padding-2 mb-20">
                                <h4 class="sidebar-widget-title">Search </h4>
                                <div class="search-style-3">
                                    <form>
                                        <input type="text" id="search-box" placeholder="Search…">
                                    </form>
                                </div>
                            </div>
                            <div class="sidebar-widget sidebar-widget-wrap sidebar-widget-padding-1 mb-20">
                                <h4 class="sidebar-widget-title">Filter by: </h4>
                                <div class="sidebar-categories-list">
                                    <ul>
                                        <li><a href="/healthpackages">Health Packages </a></li>
                                        <li><a href="/tests">Lab Tests </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>