{% load static %}
<div class="slider-area">
            <div class="hero-slider-active-2 dot-style-1 dot-style-1-position-1">
                <div class="single-hero-slider single-animation-wrap slider-height-3 custom-d-flex custom-align-item-center hm3-bg-color-1">
                    <div class="custom-container">
                        <div class="row align-items-center slider-animated-1">
                            <div class="col-lg-6 col-md-6 col-12 col-sm-6 col-xs-6">
                                <div class="hero-slider-content-3">
                                    <h4 class="animated">Only <span>$1000</span> </h4>
                                    <h1 class="animated">Lorem Ipsum is simply dummy text of the printing industry. </h1>
                                    <p class="animated">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                                    <div class="btn-style-1">
                                        <a class="animated btn-1-padding-5" href="product-details.html">Book now </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 col-sm-6 col-xs-6">
                                <div class="single-slider-img single-slider-img-4">
                                    <img class="animated" src="{% static 'images/slider/hm3-single-slider-img-1.png' %}" alt="">
                                    <div class="slider-product-price slider-product-position5 slider-animated-1 animated">
                                        <h3>
                                            Best
                                            <span class="mrg-top">selling </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-hero-slider single-animation-wrap slider-height-3 custom-d-flex custom-align-item-center hm3-bg-color-3">
                    <div class="custom-container">
                        <div class="row align-items-center slider-animated-1">
                            <div class="col-lg-6 col-md-6 col-12 col-sm-6 col-xs-6">
                                <div class="hero-slider-content-3">
                                    <h4 class="animated">Only <span>$1000</span> </h4>
                                    <h1 class="animated">Lorem Ipsum is simply dummy text of the printing industry. </h1>
                                    <p class="animated">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                                    <div class="btn-style-1">
                                        <a class="animated btn-1-padding-5" href="product-details.html">Book now </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 col-sm-6 col-xs-6">
                                <div class="single-slider-img single-slider-img-6">
                                    <img class="animated" src="{% static 'images/slider/hm3-single-slider-img-1.png' %}" alt="">
                                    <div class="slider-product-price slider-product-position7 slider-animated-1 animated">
                                        <h3>
                                            Best
                                            <span class="mrg-top">Deal </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>