 {% load static %}
 <div class="team-area pt-65 pb-25">
            <div class="container">
                <div class="section-title-2 mb-45">
                    <h2>Meet Our Professionals</h2>
                    <p>When your mission is to be better, faster and smarter, you need the best people driving your vision forward. </p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12 col-sm-6">
                        <div class="team-wrap mb-45">
                            <div class="team-img mb-20">
                                <img src="{% static 'images/team/team-2.jpg' %}" alt="">
                                <div class="team-social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-info text-center">
                                <h3> Ashley Smith</h3>
                                <span>Contact Tracer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 col-sm-6">
                        <div class="team-wrap mb-45">
                            <div class="team-img mb-20">
                                <img src="{% static 'images/team/team-2.jpg' %}" alt="">
                                <div class="team-social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-info text-center">
                                <h3> Ashley Smith</h3>
                                <span>Contact Tracer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 col-sm-6">
                        <div class="team-wrap mb-45">
                            <div class="team-img mb-20">
                                <img src="{% static 'images/team/team-2.jpg' %}" alt="">
                                <div class="team-social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-info text-center">
                                <h3> Ashley Smith</h3>
                                <span>Contact Tracer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12 col-sm-6">
                        <div class="team-wrap mb-45">
                            <div class="team-img mb-20">
                                <img src="{% static 'images/team/team-2.jpg' %}" alt="">
                                <div class="team-social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-info text-center">
                                <h3> Ashley Smith</h3>
                                <span>Contact Tracer</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>