{% extends 'basic.html' %}
{% block content %}
{% load static %}
<div class="breadcrumb-area breadcrumb-area-padding-2 bg-gray-2">
            <div class="custom-container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="/home">Home</a>
                        </li>
                        <li class="active">Checkout</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="checkout-area pt-75 pb-75">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="billing-info-wrap padding-20-row-col pt-20">
                            <h3>Enter Patient Details</h3>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="billing-info input-style mb-35">
                                        <label>First Name *</label>
                                        <input type="text" placeholder="First Name" id="firstname" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="billing-info input-style mb-35">
                                        <label>Last Name *</label>
                                        <input type="text" placeholder="Last Name" id="lastname" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="billing-info input-style mb-35">
                                        <label>Email Address *</label>
                                        <input type="text" placeholder="Email" id="email" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="billing-info input-style mb-35">
                                        <label>Phone*</label>
                                        <input type="text" placeholder="Phone" id="phone" maxlength="10" minlength="10" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="billing-info input-style mb-35">
                                        <label>Age *</label>
                                        <input type="number" placeholder="Age" id="age" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="customer-zone mb-30">
                            <p class="cart-page-title">Have a coupon? <a class="checkout-click3" href="#">Click here to enter your code</a></p>
                            <div class="checkout-login-info3 input-style">
                                <form action="#">
                                    <input type="text" placeholder="Coupon code">
                                    <button type="submit"><i class="fal fa-gift"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="payment-details-area">
                            <h4>Payment:</h4>
                            <div class="payment-method">
                                {% comment %} <div class="sin-payment payment-selected mb-20">
                                    <input id="payment_method_1" class="input-radio" type="radio" value="cheque" checked="checked" name="payment_method">
                                    <label for="payment_method_1">
                                        <span>
                                        <img class="nomal-img" src="{% static 'images/icon-img/direct-bank.png' %}" alt="">
                                        <img class="active-img" src="{% static  'images/icon-img/direct-bank-active.png' %}" alt="">
                                    </span>
                                        Pay Now <h5 class="pl-10">Make your payment directly via Netbanking, PayTm, UPI ID or via Credit/Debit Card</h5>
                                    </label>
                                </div> {% endcomment %}
                                <div class="sin-payment mb-20">
                                    <input id="payment-method-3" class="input-radio" type="radio" value="cheque" name="payment_method">
                                    <label for="payment-method-3">
                                        <span>
                                        <img class="nomal-img" src="{% static 'images/icon-img/cash-on-delivery.png' %}" alt=""">
                                        <img class="active-img" src="{% static 'images/icon-img/cash-on-delivery-active.png' %}" alt=""">
                                    </span>
                                        Pay at Clinic <h5 class="pl-10"> Make your payment by cash/card at Clinic</h5>
                                    </label>
                                </div>
                                <button class="submit" type="submit">submit</button>
                            </div>
                        </div>
                    </div>
                    {% include 'src/bookfilter.html' %}
                </div>
            </div>
        </div>
<script>
$(document).ready(function(){
    function getCookie() {
        var name = "bToken=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
            c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    $(".submit").on("click", function(e){
        console.log("sgv");
        e.preventDefault();
        var fdata = new FormData()
        fdata.append('First_Name',$('#firstname').val());
        fdata.append('Last_Name',$('#lastname').val());
        fdata.append('Phone',$('#phone').val());
        fdata.append('Email',$('#email').val());
        fdata.append('Age',$('#age').val());
        fdata.append('date',$('#date').val());
        fdata.append('id',$('#id').val());
        $.ajax({
            url  : urllink + "/doctor",
            type : "POST",
            data : fdata,
            beforeSend: function(request) {
                    request.setRequestHeader('Authorization', 'Token ' + getCookie()+'');
                },
            processData: false,
            contentType: false,
            success:function(Response){
                alert("Thank You!! Your order is recorded. We will be contacting you soon.");
            },
            error: function (Response) {
                console.log(Response);
                $("#loginmodalbox").modal('show');
            }
        });
    });
});
</script>
{% endblock %}